/* root */
:root{
    --black-color: #000;
    --white-color: #fff;
    --hover-color: #ccc;
}

/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    font-family: Roboto, "Helvetica Neue";
    /* font-size: 62.5%; */
    background-color: #F5F5F5;
     
}

.grid{
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
}

.row{
    width: 1600px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: -12px;
    margin-right: -12px; 
}

.col-2{
    width:20%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8{
    width:80%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4{
    width: 33.333%;
    padding-left: 12px;
    padding-right: 12px;
}

#main{
    background-color: #F5F5F5;
}

#header{
    height:47px;
    background-color:var(--black-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000 !important;
}

#nav{
    display: inline-block;
    height:47px;
}

#nav_right{
    float: right;
    padding-right: 2rem;
    display: inline-block;
    height:47px;
}

#nav li{
    display: inline-block;
}

#nav li a{
    color:var(--white-color);
    text-decoration: none;
    line-height:47px;
    padding: 0 12px;
    display: inline-block;
}

#nav li:hover a{
    color:var(--white-color);
    background-color: var(--hover-color);
}

#nav_right li{
    display: inline-block;
}

#nav_right li a{
    color: var(--white-color);
    text-decoration: none;
    line-height:47px;
    padding: 0 12px;
    display: inline-block;
}

.nav-avt{
    width: 25px;
    height: 25px;
    border-radius:50%;
}

.nav-user-item{
    color: var(--white-color);
    
    line-height:47px;
    padding: 0 12px;
    
}

.name-user-hover{
    position: absolute;
    padding:8px 0;
    /* margin-top: 8px; */
    top: 100%;
    right: 90px;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.name-user-item a{
    text-decoration: none;
    color: var(--black-color);
    font-size: 1rem;
    padding: 6px 16px;
    display: block;
}

.nav-user-item:hover .name-user-hover{
    display: block;
}

.name-user-item{
    background-color: var(--white-color);
}

#nav_right li:hover a{
    color: var(--white-color);
    background-color: var(--hover-color);
}

#nav_right li:hover .name-user-item-link{
    background-color: var(--white-color) ;
    color: var(--black-color) ;
}

.name-user-item-link{
    display: block;
    padding: auto;
}

#header .icon_seach{
    line-height:47px;
    display: inline-block;
    font-size: 1rem;
    color: var(--white-color);
    padding: 0 17px;
    cursor: pointer;
}

#header li:hover .icon_seach{
    background-color: var(--hover-color);
}

#content{
    margin-top:55px;
    display: flex;
    justify-content: space-around;
}

.advertisement{
    background-color: #0e549c;
    height:100px;
    /* margin: 10px 3rem; */
    width: 1300px;
    max-width:100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;

}

.breadcrumbs li a{
    text-decoration: none;
    color: var(--black-color);
}

.breadcrumbs li:hover{
    text-decoration: underline;
}

.p-title-value{
    display: inline-block;
    padding: 0 2rem;
}

.p-title-actionPage{
    display: inline-block;
    float: right;
    padding: 0 2rem;
}

.p-title-actionPage a{
    color: var(--white-color);
}

.btn-add{
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
    font-size: 13px;
    border-radius: 4px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: center;
    color: #edf6fd;
    background: #1061b3;
    border-color: #126eca #0e549c #0e549c #126eca;
}

.bolt{
    padding: 0 4px;
}

.p-title a{
    text-decoration: none;
    line-height:20px;
    font-size: 1em;
}

#content .admin-noti{
    border: 1px solid #888;
    margin: 0 2rem;
}

.top-post-title,
.admin-noti-title{
    height: 40px;
    background: rgb(222,247,251);
    background: linear-gradient(180deg, rgba(222,247,251,1) 7%, rgba(0,212,255,0.5) 95%);
}

.admin-noti-title span{
    font-size:20px;
    color: #1061b3;
}

.top-post-content,
.admin-noti-content{
    padding-right: 10px;
    border-top: 0.1px solid #888;
}

.top-post-title,
.top-post-content,
.admin-noti-title,
.admin-noti-content{
    padding-left: 10px;
}

.top-post-content a,
.admin-noti-content a{
    text-decoration: none;
    line-height:50px;
    display: inline-block;
    
}

#content .top-post{
    border: 0.3px solid #888;
    margin: 30px 2rem;
    
}

.post-react{
    display: inline-block;
    margin-right: 0.5rem;
}

.post-react span{
    padding: 0 0.5rem;
}

.admin-noti-content,
.top-post-content{
    display: flex;
    justify-content: space-between;
}
/* Category */
.content-category{
    border-radius: 2px;
    background-color: #fff;
    height:fit-content;
    border-radius: 5px;
}

.category-heading{
    font-size: 1.7rem;
    padding: 8px 8px;
    border-bottom: 1px solid #888;
}

.category-icon{
    font-size:1.4rem;
}

.category-list{
    padding-left: 0;
}

.category-item{
    
}

.category-item-link{
    text-decoration: none;
    color: var(--black-color);
    padding: 8px 8px;
    font-size: 1.4rem;
    display: block;
}

.vote{
    cursor: pointer;
    display: block;
}

.flag{
    cursor: pointer;
}

.active{
    color: red;
    
}

.content-2{
    border-radius: 2px;
    background-color: #fff;
}
#footer{
    border-top: 2px solid #888;
    display:flex;
    justify-content: space-around;
}

.footer-heading{
    padding:0 30%;
}

.footer-author{
    display: block;
    padding: 0 30%;
}

.footer-link{
    display: block;
    padding: 0 30%;
    text-decoration: none;
    color: #888;
}

.class-none{
    display: none;
}


/*question-detail*/

.question{
	font-size: 30px;
}
.quesitondetail{
	margin-left: 200px;
	margin-right: 200px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up1{
	position: absolute;
	top: 130px;
	left: 140px;

}
.down1{
	position: absolute;
	top: 200px;
	left: 140px;
}
.stt{
	font-size: 20px;
	position: absolute;
	left: 145px;
	top: 165px;
}
.h2{
	margin-left: 200px;
}
.allcomment{
	margin-left: 200px;
	margin-right: 300px;
	margin-top: 20px;
}
.comment_datel{
	width: 1000px;
	height: 200px;
	background-color: #E8E8E8;
}
.comment{
	margin-top: 10px;
}
.like{
	margin-left: 150px;
	margin-top: 10px;
}
.person{
	margin-left: -100px;
	
}
.reperson{
	margin-top: 30px;
}
.allcomment img{
	object-fit: cover;
	border-radius: 50%;
}
 .con1 header{
	display: flex;
}
 .con1 header .datal{
	margin-left: 25px;
}
.reperson .con1 header{
	display: flex;
}
.share{
	font-size: 20px;
	margin-left: 200px;
	margin-top: 20px;
}